In [ ]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [737 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,569 kB]
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,961 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,848 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,998 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,353 kB]
Fetched 9,808 kB in 3s (2,907 kB/s)
Reading package lists... Done
sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [2]:
df=spark.read.format("csv").option("header", "true").load("sample_data/sales_data_sample.csv")

In [4]:
df.show(5);

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|STATE|POSTALCODE|COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2|   2871| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        null|          NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        null|        Reims| null|     51100| France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        null|        Paris| null|     75508| France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        null|     Pasadena|   CA|     90003|    USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|      100|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        null|San Francisco|   CA|      null|    USA|       NA|          Brown|           Julie|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
only showing top 5 rows

In [5]:
from pyspark import SparkContext, SparkConf

In [13]:
# Initialize Spark context using getOrCreate()
sc = SparkContext.getOrCreate(SparkConf().setAppName("Sales Analysis"))

In [17]:
sales_rdd = sc.textFile("sample_data/sales_data_sample.csv").filter(lambda line: not line.startswith("ORDERNUMBER"))

In [18]:

# Example: Filter the dataset to get sales with a quantity greater than 40
filtered_sales_rdd = sales_rdd.filter(lambda line: int(line.split(',')[1]) > 40)

In [19]:
# Example: Calculate total sales amount
total_sales_amount = sales_rdd.map(lambda line: float(line.split(',')[4])).sum()
print("Total Sales Amount:", total_sales_amount)

Total Sales Amount: 10032628.849999994

In [20]:
# Count the number of records in the RDD
record_count = sales_rdd.count()
print("Number of records:", record_count)

Number of records: 2823

DATA CLEANING

In [22]:
spark = SparkSession.builder.appName("DataCleaning").getOrCreate()

In [24]:
df = spark.read.csv("sample_data/sales_data_sample.csv", header=True, inferSchema=True)

In [29]:
# Use describe to get summary statistics
summary = df.describe()

# Show the summary statistics
summary.show()

+-------+------------------+-----------------+------------------+-----------------+------------------+--------------+---------+------------------+------------------+------------------+------------+------------------+-----------+-----------------+--------------------+--------------------+------------+------------+--------+------------------+---------+---------+---------------+----------------+--------+
|summary|       ORDERNUMBER|  QUANTITYORDERED|         PRICEEACH|  ORDERLINENUMBER|             SALES|     ORDERDATE|   STATUS|            QTR_ID|          MONTH_ID|           YEAR_ID| PRODUCTLINE|              MSRP|PRODUCTCODE|     CUSTOMERNAME|               PHONE|        ADDRESSLINE1|ADDRESSLINE2|        CITY|   STATE|        POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-------+------------------+-----------------+------------------+-----------------+------------------+--------------+---------+------------------+------------------+------------------+------------+------------------+-----------+-----------------+--------------------+--------------------+------------+------------+--------+------------------+---------+---------+---------------+----------------+--------+
|  count|              2823|             2823|              2823|             2823|              2823|          2823|     2823|              2823|              2823|              2823|        2823|              2823|       2823|             2823|                2823|                2823|         302|        2823|    1337|              2747|     2823|     2823|           2823|            2823|    2823|
|   mean|10258.725115125753|35.09280906836698| 83.65854410201929|6.466170740347148|  3553.88907190932|          null|     null|2.7176762309599716|7.0924548352816155|2003.8150903294368|        null|100.71555083244775|       null|             null| 4.443333969582669E9|                null|        null|        null|    null|46823.061787905346|     null|     null|           null|            null|    null|
| stddev|  92.0854775957196| 9.74144273706958|20.174276527840536| 4.22584096469094|1841.8651057401842|          null|     null| 1.203878088001756| 3.656633307661765|0.6996701541300869|        null| 40.18791167720266|       null|             null|1.9551944712750926E9|                null|        null|        null|    null| 33486.50903171618|     null|     null|           null|            null|    null|
|    min|             10100|                6|             26.88|                1|            482.13|1/10/2003 0:00|Cancelled|                 1|                 1|              2003|Classic Cars|                33|   S10_1678|   AV Stores, Co.|        (02) 5554 67|1 rue Alsace-Lorr...|   2nd Floor|     Aaarhus|      BC|             10022|Australia|     APAC|        Accorti|          Adrian|   Large|
|    max|             10425|               97|             100.0|               18|           14082.8| 9/9/2004 0:00|  Shipped|                 4|                12|              2005|Vintage Cars|               214|   S72_3212|giftsbymail.co.uk|          981-443655|        Vinb'ltet 34|   Suite 750|White Plains|Victoria|           WX3 6FW|      USA|       NA|             Yu|           Yoshi|   Small|
+-------+------------------+-----------------+------------------+-----------------+------------------+--------------+---------+------------------+------------------+------------------+------------+------------------+-----------+-----------------+--------------------+--------------------+------------+------------+--------+------------------+---------+---------+---------------+----------------+--------+

In [35]:


# Convert the count column from string to integer
count_col = [col for col in summary.columns if "count" in col]
if count_col:
    count_col = count_col[0]
    summary = summary.withColumn(count_col, summary[count_col].cast("int"))

    # Identify columns with missing values (count less than total rows)
    missing_columns = [col for col in df.columns if summary.where(summary[count_col] < df.count()).select(col).count() > 0]

    print("Columns with missing values:", missing_columns)
else:
    print("Count column not found in the summary DataFrame.")

Count column not found in the summary DataFrame.